@{
    ViewBag.Title = "Outage Dashboard";
}

<div class="container">

    <h1>@ViewBag.Title</h1>

    <!--INSERT VIEW CODE-->
    <!--VIEW CODE-->
    <!--VIEW CODE-->
    <div class="row">
        @if (Model.Count > 0)
        {
            foreach (IncidentAPI.Models.Incident item in Model)
            {
                <div class="col-sm-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">Outage: @Html.ActionLink(string.Format("{0}", item.Id), "Details", "Incident", new { ID = item.Id }, new { })</div>
                        <table class="table">
                            <tr>
                                <th>Type</th>
                                <td>@item.OutageType</td>
                            </tr>
                            <tr>
                                <th>Address</th>
                                <td>@item.Street</td>
                            </tr>
                            <tr>
                                <th>Contact</th>
                                <td><a href="tel:@item.PhoneNumber">@string.Format("{0} {1}", item.FirstName, item.LastName)</a></td>
                            </tr>
                            <tr>
                                <th>Reported</th>
                                <td>
                                    @if (item.Created != null)
                                    {
                                        @item.Created.Value.ToString("MM/dd/yyyy, hh:mm");
                                    }
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
}
        }
        else
        {
            <div><h2>No incidents reported</h2></div>
        }
    </div>
    <!--VIEW CODE-->
</div>